html, body {
    height: 100%;
}

.pink { color: pink; }

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    width: 768px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
    margin-top: -100px;
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 2.9vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accentTop);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accentTop) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accentBottom);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accentTop);
}

footer {
    border-bottom: var(--border-width) solid var(--accentBottom);

}

img {
    max-width: 100%;
}

.navbar .navbar-brand {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width:320px)	{
	  /* smartphones, iPhone, portrait 480x320 phones */
	  main { width: 300px; }
}
@media (min-width:481px)	{
	  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	  main { width: 460px; }
    .intro > h1 { font-size: 10vh; }
}
@media (min-width:641px)	{
	  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	  main { width: 600px; }
}
@media (min-width:961px)	{
	  /* tablet, landscape iPad, lo-res laptops ands desktops */
	  main { width: 768px; }
}
@media (min-width:1025px) {
	  /* big landscape tablets, laptops, and desktops */
	  main { width: 768px; }
}
